<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.binaryfilewriter"
    version="1.0">

    <name>BinaryFileWriter</name>
    <description>BinaryFileWriter</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="BinaryFileWriter.js" name="BinaryFileWriter">
        <clobbers target="cordova.plugins.BinaryFileWriter" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="BinaryFileWriter">
                <param name="ios-package" value="BinaryFileWriter" />
            </feature>
        </config-file>

        <header-file src="BinaryFileWriter/Base64.h" />
		<source-file src="BinaryFileWriter/Base64.m" />
		
		<header-file src="BinaryFileWriter/BinaryFileWriter.h" />
		<source-file src="BinaryFileWriter/BinaryFileWriter.m" />
		
		

    </platform>

</plugin>
